venv/
env/
.venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
wheels/
*.egg
.eggs/
.env
*.env*
tokens.env
secrets.yml
config.ini

cache_dir/
*.pt
*.pth
*.h5
*.onnx
*.safetensors
*.bin
*.pkl
*.model

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store          # macOS
Thumbs.db          # Windows
._*

.pytest_cache/
.coverage
coverage.xml
htmlcov/
nosetests.xml
pytestdebug.log

.ipynb_checkpoints

*.log
logs/
